package day{{ printf "%02d" .DayNum }}_test

import "testing"

var tcs = []struct {
	input           string
	expectedPartOne int
	expectedPartTwo int
}{}

func TestSolvePartOne(t *testing.T) {}

func TestSolvePartTwo(t *testing.T) {}

const testInput = ``
const input = ``
